body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #212121;
}
/* ustawienei najnizszego rzedu(4) do usuniecia bazowych marginesów we wszystkich elementach */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* zmienne globalne dla:kolorów tekstu,tła,zaznaczanie */
:root {
  --white-color: #ffffff;
  --basic-text-color: #212121;
  --main-baner-color: #2f303a;
  --button-color: #2196f3;
  --links-color: #2196f3;
  --logo-color1: #2196f3;
  --paragraph-link-content: #757575;
  --logo-color2: black;
  --header-text-color: #212121;
  --button-bacground-portfolio: #f5f4fa;
  --our-team-background: #f5f4fa;
}
/* styl naglowka */
header {
  left: 0px;
  top: 0px;
}
/* style linków: brak podkreslenia */
a {
  text-decoration: none;
}
/* styl bazowy jako rodzic --- przy okazji jest to priorytet (3) rzedu czyli .klasa */
.social-link.link-info.link-contact.adres-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.link-info {
  color: var(--basic-text-color);
}
/* styl z pseudoklasą hover: interakcja po najechaniu myszką czy klawiaturą */
.link-info:hover,
.link-info:focus {
  color: var(--links-color);
}
.link-info:active {
  color: var(--links-color);
}
.link-contact {
  color: var(--paragraph-link-content);
}
.link-contact:hover,
.link-contact:focus {
  color: var(--links-color);
}
.link-contact:active {
  color: var(--links-color);
}
.adres-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/* styl dla logo webstudio */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-color2);
}
.logo > .logo-part {
  color: var(--logo-color1);
}
.logo > .logo-part2 {
  color: var(--white-color);
}
/* styl glowneego paragrafu na stronie */
.main-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--paragraph-link-content);
}
/* styl głównego banerru z przyciskiem */
.top-banner {
  background: var(--main-baner-color);
  text-align: center;
}
/* styl dla naglowkow h1:w glownym miejscu strony, h2: podtytuły sekcji, h3: podtytuły paragrafu */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Głowny przycisk strony main */
.button-main {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--white-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.photo-title-main {
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-team {
  background-color: var(--our-team-background);
}

footer {
  background: var(--main-baner-color);
}

/*----------------- STYLE DO PORTFOLIO  ---------------------------*/
.button-portfolio {
  cursor: pointer;
  background: var(--button-bacground-portfolio);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--button-color);
}
.text-button-portofolio {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--basic-text-color);
}
.text-button-portofolio:hover,
.text-button-portofolio:active {
  color: var(--white-color);
}
.photo-title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;

  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
